# Environments
.venv/
env/

# Python Cache
__pycache__/
*.pyc

# Database files (We don't want to upload your local test data)
*.db
*.sqlite3

# Environment variables (Keeps your future passwords safe)
.env